In [27]:
import numpy as np
import pandas as pd
from pathlib import Path
import pyodbc

query = Path('GetCashFlowById.sql').read_text().replace('\n', '')
conn = pyodbc.connect('DRIVER={SQL Server};Server=localhost,1433;Database=Goal-Based-Database;User Id=admin;Password=P@ssword1!')
df = pd.read_sql(query, conn, index_col='Id',params=[4])

    NetworkId     Cost
Id
1           1      0.0
2           1  40000.0
3           1  40800.0